*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root{

    /* The designs were created to the following widths */

    --desktop-width: 1440px;

    /* primary colors  */

    --Blue-600: hsl(231, 69%, 60%);
    --Red-400: hsl(0, 94%, 66%);

    /* Neutral colors  */

    --Grey-50: hsl(0, 0%, 97%);
    --Blue-950: hsl(229, 31%, 21%);

    /* Typography */
    --Font-size: 18px;
    --Weights1: 400;
    --Weights1: 500;
}

#background{
   width: var(--desktop-width);
   /* background-color: var(--Grey-50); */
}

.nav{
    /* border: 2px solid black ; */
    display: flex;
    flex-direction: row;
    align-items: center;
   gap: 500px;
   padding: 0 10% 5% 10%;
}

.navdiv{
     /* border: 2px solid black ; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.navul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    color: var(--Blue-950);
    font-weight: var(--Weights1);
    font-size:small;
}

#login{
    padding: 2% 5% 2% 5% ;
    color: var(--Grey-50);
    background-color: var(--Red-400);
    border: none ;
}

#section1{
    /* border: 2px solid black ; */
    display: flex;
    flex-direction: row;
    align-items:center ;
    justify-content:space-between;
     padding: 0% 5% 2% 5% ;
}

.section1-div{
     /* border: 2px solid black ; */
    display: flex;
    flex-direction: column;
    align-items: start;
   gap: 20px;
}

.section1-div h1{
    border: 2px solid black ;
    font-size: xx-large;
    font-weight:bold;
    color:var(--Blue-950);
}

.section1-div p{
    color:var(--Blue-600);
}